<a href="<%= data.baseUrl %><%= post.url %>">
	<div class="image-wrapper">

	    <h1 class="post-title">
		  	<%= post.title %>
		</h1>
		<div class="image-background">
			<img src="<%= data.baseUrl %>images/<%= post.img %>" alt="" />
		</div>
	</div>
</a>
